{% extends 'base.html' %}

{% load static %}

{% block content %}

<div class="container mt-4">
  
  
  <div class="row">
  
    <div class="col-md-10">
      
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="">Expenses</a></li>
          <li class="breadcrumb-item active" aria-current="page">My Expenses</li>
        </ol>
      </nav>
      
    </div>
    
    <div class="col-md-2">
      
      <a href="{% url 'add_expenses' %}" class="btn btn-primary">Add Expenses</a>
      
    </div>
  </div>

  <div class="container">

    {% include 'partials/_messages.html' %}

    {% if expenses.count %}
    <div class="row">
      <div class="col-md-8"></div>
      <div class="col-md-4">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search" id="textSearch">
        </div>
      </div>
    </div>

    <div class="app-table">
      <table class="table table-stripped table-hover">
        <thead>
          <tr>
            <th>Amount ({{currency_type}})</th>
            <th>Category</th>
            <th>Description</th>
            <th>Date</th>
            <th></th>
          </tr>
        </thead>
  
        <tbody>
  
          {% for expense in expenses %}
          <tr>
            <td>{{expense.amount}}</td>
            <td>{{expense.category}}</td>
            <td>{{expense.description}}</td>
            <td>{{expense.date}}</td>
            <td><a href="{% url 'edit_expense' expense.id %}" class="btn btn-secondary btn-sm">Edit</a></td>
          </tr>
  
          {% endfor %}
        </tbody>
      </table>
    </div>
    
    <p class="no-results" style="display: none;">No results </p>
    <div class="table-output">


      <table class="table table-stripped table-hover">
        <thead>
          <tr>
            <th>Amount ({{currency_type}})</th>
            <th>Category</th>
            <th>Description</th>
            <th>Date</th>
            <th></th>
          </tr>
        </thead>

        <tbody  class="table-body">


        </tbody>
      </table>
    </div>

    {% endif %}
  </div>
  

</div>

<script src="{% static 'js/searchExpenses.js' %}"></script>


{% endblock %}